# Virtual environment
venv/
.env/
env/

# Python cache
__pycache__/
*.pyc

# JSON data files
*.json
storage

# Environment variables
.env

# OS junk
.DS_Store

# Snap / build artifacts
*.snap
*.tar.gz
*.zip

# build folders
parts/
stage/
prime/